<div id="welcomeView" layout="column" layout-align="space-around center" layout-fill>

	<div class="md-display-1 animated flipInX" style="animation-delay: .5s">
		<md-button class="md-raised md-warn" ng-click="clickme()">{{ messageFromService }}	</md-button>
	</div>
	<div class="md-display-1 animated flipInX" style="animation-delay: 1s">
		{{ messageFromController }}
	</div>
	<div class="md-display-1 animated flipInX" style="animation-delay: 1.5s">
		<md-button class="md-raised" ng-click="clickme()">And then to the "welcome.html" view!</button>
	</div>
	
</div>